* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.main-container {
  background-color: #ff1654;
  padding: 32px;
  border-radius: 16px;
  width: 650px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 5px solid rgba(249, 244, 244, 0.849);
}

.user-input-form {
  display: flex;
  gap: 32px;
  flex-direction: column;
  position: relative;
}

.user-input-form .toast-btn {
  border: none;
  padding: 8px 35px;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
  display: block;
  margin: auto;
  background-color: #fff;
  border: 3px solid rgba(224, 208, 208, 0.849);
}

.user-input-container,
.toast-variants-container {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.user-input-container .user-input-title,
.toast-variants-container .toast-variants-title {
  flex: 1;
}

.user-input-container .user-input,
.toast-variants-container .toast-variants {
  flex: 3;
  display: flex;
  justify-content: space-between;
}

.user-input-container .user-input {
  border: 3px solid rgba(224, 208, 208, 0.849);
  padding: 8px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
}

.toast-variants .toast-variant {
  display: flex;
  align-items: center;
  gap: 4px;
}

.toast-variant input,
.toast-variant label {
  cursor: pointer;
}

.toast-container {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.toast-container .toast {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #b4c292;
  width: 400px;
  padding: 16px;
  border-radius: 8px;
  margin-top: 16px;
  font-weight: 500;
  position: relative;
}

.slide-in-animation {
  animation: slideIn 480ms ease-in-out;
}

@keyframes slideIn {
  from {
    right: -250px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

.slide-out-animation {
  animation: slideOut 480ms ease-in-out;
}

@keyframes slideOut {
  from {
    right: 0;
    opacity: 1;
  }
  to {
    right: -250px;
    opacity: 0;
  }
}

.toast .message-container {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.toast .toast-icon-container {
  display: flex;
  align-items: center;
}

.toast .close-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.dialog {
  background-color: #3b3923;
  padding: 32px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}

.dialog .close-btn {
  border: none;
  padding: 8px 25px;
  background-color: #b4c292;
  display: block;
  margin: auto;
  margin-top: 32px;
  cursor: pointer;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  #root {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .toast-variants-container .toast-variants {
    flex-direction: column;
    gap: 8px;
    padding: 4px;
  }

  .main-container {
    width: 90%;
  }

  .user-input-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .user-input-container .user-input {
    width: 100%;
  }

  .toast-variants-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
}

@media screen and (max-width: 430px) {
  .main-container {
    padding: 20px;
  }

  .toast-container {
    width: 100%;
  }

  .toast-container .toast {
    width: 90%;
    margin-left: auto;
  }
}
